body {
  margin: 0px;
  background-color: #69757A;
  font-family: Papyrus, fantasy;
  color: #E1E2E5;
}

.white-bg {
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 0;
  padding: 0;
}

h1 {
  font-size: 80px;
  font-family: Goudy Old Style, serif;
  font-weight: bold;
  color: white;
}

.row {
  margin-top: 20px;
}

.card {
  background-color: rgba(53, 61, 66, 0.5);
  margin:15px auto;
  padding:25px;
}

.center-text {
  text-align: center;
}

.bold {
  font-weight: bold;
}
